<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @sender %>! </h1>
    <p>
      You need to sign up with YummyMarks in order to post to our website!
    </p>  
      Click here to sign up: <%= @url %>
    </p>
    <p>Thanks for using Yummymarks and have a great day!</p>
  </body>
</html>