<div class="jumbotron"> 
  <% Topic.all.each do |topic| %>
    <% unless topic.bookmarks.empty? %>
    <p>
      <h1 class="hash-topic topic-index"><strong><%= link_to "##{topic.title}", topic_path(topic) %></strong></h1>
        <% topic.bookmarks.each do |bookmark| %>
          <p> <%= link_to bookmark.title, bookmark.url %></p>
        <% end %>
    </p>
    <% end %>
  <% end %>
</div>