<h1>Topics</h1>
<% Topic.all.each do |topic| %>
  <p>
    #<%= topic.title %><br />
    <% topic.bookmarks.each do |bookmark| %>
      <p> <%= link_to bookmark.title, bookmark.url %></p>
    <% end %>
  </p>
<% end %>