<div class="jumbotron"> 
  <h1 class="hash-topic topic-show"><strong><%= "##{@topic.title}" %></strong></h1>
  <% @bookmarks.each do |bookmark| %>
    <p><%= link_to bookmark.title, bookmark.url %>
      <% if current_user && current_user.bookmarks.include?(bookmark) %>
        <%= link_to "Edit", edit_bookmark_path(bookmark),  class: 'label label-success'%> | 
        <%= link_to "Delete", bookmark_path(bookmark), method: :delete, class: 'label label-danger' %>
      <% end %>
    </p>
  <% end %>
</div>
