<h1>
  <% if @user.name %>
    <%= @user.name %>
  <% else %>
    <%= @user.email %>
  <% end %>
</h1>


<% @user.bookmarks.each do |bookmark| %>
  <p><%= link_to bookmark.title, bookmark.url %><br />
   <% bookmark.topics.each do |topic| %>
    #<%= topic.title %>, 
  <% end %>
</p>
<% end %>  